# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Мое\telegram_smm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
